.contact-form {
    padding: 0 3rem 0 3rem;
    display: flex;
    flex-direction: column;
    
    
    margin-top: 4rem;
    /* scroll */
    padding-top: 3rem;
}

.contact-form > span {
    align-self: center;
    font-size: 1.5rem;
    color: var(--lightPurple);
}
.copyright {
    
    
    color: var(--lightPurple);
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    

}

.copyright > *{

    
    align-self: center;
font-weight: bold;

}


.contact-top-part{
    display: flex;
    justify-content: space-between;
}


.contact-bottom-part {
    display: flex;
    
    height: 20vh;
    justify-content: center;
    
}

.contact-bottom-part> * {
    
transform: scale(0.3, 0.3);



}








.w-left{
  color:(--gray);
}

.c-right {
    display: flex;
    align-items: right;
    flex-direction: column;
    position: relative;
    flex: 1;
}

.c-right>form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;

}

.c-right .user {
    width: 40rem;
    height: 2rem;
    padding: 0.3em;
    outline: none;
    border: 2px solid var(--lightPurple);
    border-radius: 8px;
    font-size: 16px;
    z-index: 2;
}

textarea {
    height: 8rem !important;
    z-index: 2;
}

.c-blur1 {
    top: 10rem;
    left: 3rem;
}


